@model ZenithWebSite.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    table {
        border: 1px solid black;
    }

    table td {
        border: 1px solid black;
    }

    th {
        text-align: center;
        background-color: aquamarine;
    }

    .time {
        width:170px;
    }

    .desc {
        width:250px;
    }
</style>
<h1>This Week's Events</h1>
<table>
    <!-- This checks if there are events for that day -->
    @if (Model.MonEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[0].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }
    <!-- Display each event for that day -->
    @foreach (var item2 in Model.MonEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.TuesEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[1].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.TuesEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.WedsEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[2].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.WedsEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.ThursEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[3].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.ThursEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.FriEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[4].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.FriEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.SatEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[5].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.SatEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

    @if (Model.SunEvents.Any())
    {
        <tr>
            <th colspan="2">@Model.Dates.ToList()[6].ToString("dddd, MMMM dd yyyy")</th>
        </tr>
    }

    @foreach (var item2 in Model.SunEvents)
    {
        <tr>
            <td class="time">@item2.eventFrom.ToString("h:mm tt") - @item2.eventTo.ToString("h:mm tt")</td>
            <td class="desc">@item2.Activity.description</td>
        </tr>
    }

</table>